.tabs{
  display: flex;
  margin: 0 0 30px;
  list-style: none;
  padding: 0;
  li{
    cursor: pointer;
    padding: 10px;
    font-size: 19px;
    line-height: 1.2;
    border-radius: 3px;
    transition: .3s;
    color: #fff;
    &:not(:last-of-type){
      margin-right: 20px;
    }
    &.active,
    &:hover{
      color: #ed0c6e;
    }
  }
}